@font-face {
  font-family: 'Myanmar MN';
  src: url('../fonts/myanmarmn-01-webfont.woff2') format('woff2'),
       url('../fonts/myanmarmn-01-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
