@import 'globals';

.paymentCertificate {
  padding: spacing('xxlarge');
  text-align: center;

  .blockHeaderModal {
    max-width: 825px;
    @include margin-center;
  }

  &__serie {
    @include as-h2;
    font-size: fontsize('xlarge');
    margin-top: spacing('xlarge');
    color: color('gold');
  }

  &__description {
    width: 505px;
    @include margin-center;
    margin-top: spacing('xlarge');
  }

  &__ctas {
    margin-top: spacing('xxlarge');
  }

  .button {
    margin: 0 spacing('xlarge');
  }
}
